# WELCOME TO THE NOTEBOOK
---
### Agenda:

#### Task 1: what is Lambda expression?
#### Task 2: Lambda expressions and lists
    - what is map function?
    - map function and lambda
#### Task 3: Lambda expressions combined if else statement 
    - what is filter function ?
#### Task 4: Lambda expressions and sorting 
    - sorting a list of tuples using Lambda 
    - sorting a list of dictionaries using Lambda
#### Task 5: Data Manipulation and Exploration using Lambda Expressions

### Task 1: What is Lambda Expression ?

- Let's define a python function:  get two numerical variables as an input, and calculate the multiplication of two values and return it.

In [1]:
def multiply_two(a,b):
    return a*b
multiply_two(10,20)

200

- let's define a lambda expression with the same purpose

<img src="images/lambdaa.png" >

In [1]:
multiply_lambda = lambda a,b : a * b

- let's check the variable type

In [2]:
type(multiply_lambda)

function

- let's call the lambda

In [3]:
multiply_lambda(10,20)

200

- example : define a lambda function: gets a value and return square of the value

In [4]:
square_lambda = lambda a : a **2
square_lambda(5)

25

- example : define lambda function: gets three values and return a list containing those values

In [5]:
list_lambda = lambda a,b,c : [a,b,c]
list_lambda('John','Jaffar','Janardhanan')

['John', 'Jaffar', 'Janardhanan']

- example : define lambda function : gets a string and return the first character of the string

In [6]:
first_lambda = lambda x : x[0]
first_lambda('Amar Akbar Anthony')

'A'

- Exercise : define a lambda function: gets a string and return the length of it

In [7]:
length_lambda = lambda x : len(x)
length_lambda('Thuramukham')

11

### Task 2: Lambda Functions and Lists

- let's define a normal function: get's a list, return a list of all values to the power of 2

In [1]:
numbers = [1,2,3,10,9,3,4,10,7]

- let's use map function

- map function and lambda

- let's make it even more compact

- example: I have a list of words, let's use map function to convert all the words into upper case.

In [2]:
words = ["football","python","java","coffee","keyboard"]

- Exercise : we have a list of sentences, use map function and lambda to convert all the sentences into lower case.

In [3]:
sentences = [
    "Today is Thursday and weather Is Sunny.",
    "Tomorrow at 14 PM, Meeting with Daniel.",
    "Python is a powerfull Tool For DataScience.",
    "Tommy Called Today, He told me He does not feel Good... I think It's COVID!"
]

### Task 3 : Lambda Expression combined with if statement

- let's define a normal function: gets a value and return true of the value is even, return false if the value is odd

- let's define a lambda with same purpose

- consider a list of numbers, define a normal function : gets a list of numbers and create a new list that contains only the even numbers from our input list

In [4]:
numbers = [1,2,3,10,9,3,4,10,7]

- let's use filter function

- example: I have a list of names, let's use filter function and lambda to filter out the names starting with 'A'

In [5]:
names = ["John","Alex","Maiki","Alice","Layla","Hanna","Alexander","Anil","Angela","Lola","Thelma","Clara"]

- example: use filter and lambda function to filter out the names that starts with an 'A' and with the length of 4

- exercise: we have a list of numbers, use map function and lambda to multiply the odd values by 10 and the even values by 100 in our numbers list

In [6]:
numbers = [1,2,3,10,9,3,4,10,7]

### Task 4: Lambda expressions and sorting

#### Sorting a list of tuples 
- Let's say we have a list of products with their respective prices, stored as a tupple in a list.

In [7]:
products = [
    ("Cheese",1.50),
    ("Banana Bread",2.10),
    ("Chicken Meat",3.50),
    ("Apple Juice",0.45),
    ("Orange Juice",1.25),
    ("Milk",0.75),
    ("Mango",1.25)
]

- Let's sort the list based on the prices

#### Sorting a list of dictionaries 
- Let's say we have a list of 7 person with their information (name, age, Income) stored in a dictionary.

In [8]:
persons = [
    {"Name" : "Jake" , "Age" : 23 , "Income"  : 450 },
    {"Name" : "Maria" , "Age"  : 32 , "Income"  : 2550 },
    {"Name" : "Will" , "Age"  : 43 , "Income"  : 4500 },
    {"Name" : "Layla" , "Age"  : 12 , "Income"  : 0 },
    {"Name" : "Mina" , "Age"  : 35 , "Income"  : 2100 },
    {"Name" : "Lola" , "Age"  : 28 , "Income"  : 450 },
    {"Name" : "Thelma" , "Age"  : 23 , "Income"  : 450 },
]

- sort the list based on each person's age

- Exercise: sort the list based on each person's income

### Task 5: Data Manipulation and Exploration using Lambda Expressions
- we have dataframe containing of information related to 11 Employees who are working in a technology company

In [9]:
import pandas as pd 
dataframe = pd.DataFrame({
    'Name':['Jeremy','Frank','Janet','Ryan','Mary',"John","Alex","Maiki","Alice","Layla","Hanna"],
    'Hourly Wage' : [6,7,22,10,32,10,29,10,12,10,30],
    'Type of contract' : ["Part-Time","Part-Time","Full-Time","Part-Time",
                          "Full-Time","Part-Time","Full-Time","Part-Time",
                          "Part-Time","Part-Time","Full-Time"]
})
dataframe

      Name  Hourly Wage Type of contract
0   Jeremy            6        Part-Time
1    Frank            7        Part-Time
2    Janet           22        Full-Time
3     Ryan           10        Part-Time
4     Mary           32        Full-Time
5     John           10        Part-Time
6     Alex           29        Full-Time
7    Maiki           10        Part-Time
8    Alice           12        Part-Time
9    Layla           10        Part-Time
10   Hanna           30        Full-Time

- let's add a column "Daily Working Hours", containing of number of hours each employee works in a day, based on their contract type. 
#### Assume that  : 
    - part-time job working hours : 20 hours per week (4 hours per day)
    - full-time job working hours : 40 hours per week (8 hours per day)

- Let's add a column "Annual Income", calculate Annual income of each employee

- Exercise: Add a column "Annual Tax Amount", for each person calculate how much tax they pay each a year based on the annual income
#### Personal income tax rates  :
    - if the annual income is more than 64000, the tax rate would be 35%
    - if the annual income is less than 64000, the tax rate would be 0%